{:grids
  {:conus {:ard "http://localardhost:5656"
           :aux "http://localauxhost:5656"
           :ccdc "http://localccdchost:5656"
           :grid "/grid"
           :snap "/grid/snap"
           :near "/grid/near"
           :inventory "/inventory"
           :sources "/sources"
           :tile "/tile"
           :chip "/chip"
           :pixel "/pixel"
           :segment "/segment"
           :annual-prediction "/annual_prediction"
           :available-products "/available_products"
           :products "/products"
           :segment-instance-count 25
           :product-doy "07-01"}
   :alaska {:ard "http://host:port/ard_ak_c01_v01"
            :aux "http://host:port/aux_ak_v01"
            :ccdc "http://host:port/ard_ak_c01_v01_aux_ak_v01_ccdc_1_0"
            :grid "/grid"
            :snap "/grid/snap"
            :near "/grid/near"
            :inventory "/inventory"
            :sources "/sources"
            :tile "/tile"
            :chip "/chip"
            :pixel "/pixel"
            :segment "/segment"
            :annual-prediction "/annual_prediction"
            :available-products "/available_products"
            :products "/products"
            :segment-instance-count 1
            :product-doy "07-01"}
   :hawaii {:ard "http://host:port/ard_hi_c01_v01"
            :aux "http://host:port/aux_hi_v01"
            :ccdc "http://host:port/ard_hi_c01_v01_aux_hi_v01_ccdc_1_0"
            :grid "/grid"
            :snap "/grid/snap"
            :near "/grid/near"
            :inventory "/inventory"
            :sources "/sources"
            :tile "/tile"
            :chip "/chip"
            :pixel "/pixel"
            :segment "/segment"
            :annual-prediction "/annual_prediction"
            :available-products "/available_products"
            :products "/products"
            :segment-instance-count 1
            :product-doy "07-01"}}
 :http-options {:timeout 2400000}
}
